<form action="/create_recipe_from_preparation" method="post">

  <div class="form-group">
    <label for="link">
      Link
    </label>

    <input type="text" id="link" name="link" class="form-control" value="<%= @recipe.link %>">
  </div>

  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @recipe.cuisine_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="preparation_id" value="<%= @preparation.id %>">

  <div class="form-group">
    <label for="cook_time">
      Cook time
    </label>

    <input type="text" id="cook_time" name="cook_time" class="form-control" value="<%= @recipe.cook_time %>">
  </div>

  <div class="form-group">
    <label for="food_id">
      Food
    </label>

    <%= select_tag(:food_id, options_from_collection_for_select(Category.all, :id, :name, @recipe.food_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @recipe.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>
